.selected-term-header {
    background-color: lightgray;
    color: gray;
}

.selected-term-header:hover {
    background-color: lightgray;
    color: gray;
}

.unselected-term-header {
    background-color: white;
    color: black;
}

.unselected-term-header:hover {
    background-color: lightgray;
    color: black;
}


.unselected-term-data {
    background-color: white;
    color: black;
}

.unselected-term-data:hover {
    background-color: lightblue;
    color: black;
}

