.course-table{
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica";
    width: 412px;
}

tbody{
    font-family: "Courier New";
    font-weight: normal;
}

.prereq-td{
    text-align: left;
}

table{
    border-collapse: collapse;
}

/*th, td {*/
/*    border: 1px solid black;*/
/*}*/